@use 'bootstrap/breakpoints' as *;

body {
  font-family: 'Poppins';
  line-height: 1.4;
}

.palco {
  // background-color: #1027ff;
  // background-color: #f1f1f1;
  // background-color: #919af7;
}

.hero {
  background-image: url(../images/palco-hero.jpg);
  padding-top: 190px;
  padding-bottom: 62px;
  position: relative;

  &::before {
    content: '';
    background-image: url(../images/icon-colors.png);
    background-size: cover;
    width: 80px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 104px;
  }

  &__card {
    background: linear-gradient(135deg, rgba(0,0,0,0.36) 0%, rgba(0,0,0,0.0675) 100%);
    backdrop-filter: blur(8px);
    border-radius: 24px;
    width: 50%;
  }

  &__list {
    display: flex;
    gap: 92px;
    padding: 24px 56px;
    border-radius: 32px;
    border: 1px solid #ffffffcc;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
    backdrop-filter: blur(8px);
  }

  .h-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Avenir';

    &__icon {
      width: 24px;
      height: 24px;
    }

    &__title {
      font-size: 24px;
      font-weight: 800;
      line-height: 1.33;
    }

    &__text {
      font-size: 18px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 56px;
  color: #252525;

  &--white {
    color: #ffffff;
  }

  &--center {
    align-items: center;
    text-align: center;
  }
  
  &__icon {
    width: 80px;
  }
  
  &__title {
    font-weight: 800;
    font-size: 64px;
    
    &--icon {
      padding-top: 40px;
      position: relative;
      
      &::before {
        content: '';
        background-image: url(../images/icon-colors.png);
        background-size: cover;
        width: 80px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  
  &__text {
    font-size: 26px;
    opacity: 0.8;

    .card--white & {
      opacity: 1;;
    }
  }
  
  &__button {
    font-size: 24px;
    line-height: .75;
    padding: 1em 2em;
    background-color: #1027ff;
    border-radius: 3em;
    align-self: flex-start;
    color: #ffffff;
    text-decoration: none;
    transition: box-shadow 300ms;
    
    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 12px 4px #63e1e140;
    }

    .card--center & {
      align-self: center;
    }
  }
}

.projects {
  padding: 94px 0 108px;
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__title {
    font-size: 64px;
    line-height: 1.63;
    font-weight: 800;
  }

  &__list {
    display: flex;
    gap: 56px;
  }

  .p-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #252525;

    &__number {
      font-weight: 800;
      font-size: 32px;
      opacity: 0.55;
    }

    &__text {
      font-size: 24px;
      opacity: 0.8;
    }

    &__image {
      border-radius: 20px;
      height: auto;
    }
  }
}

.media {
  background: linear-gradient(0deg, #1027ff -20%, #f1f1f1 50%);
  padding: 176px 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    width: 60%;
    padding: 0;
  }
}

.contact {
  padding: 144px 0;

  .container {
    position: relative;
  }

  &__card {
    width: 50%;
    padding: 0;
  }

  &__images {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;

    img {
      width: 322px;
    }

    img.front {
      position: absolute;
      z-index: 1;
      top: 80px;
      right: 0;
    }
    
    img.back {
      position: absolute;
      z-index: 0;
      top: -50px;
      left: 144px;
    }
  }
}

.footer {
  padding-bottom: 96px;
  font-family: 'Avenir';

  &__list {
    display: flex;
    gap: 118px;
    background-color: #1027ff;
    border-radius: 40px;
    padding: 64px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    color: #ffffff;
    opacity: 0.8;
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
  }

  &__text {
    font-size: 24px;
  }

  &__social {
    display: flex;
    gap: 12px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}